:root {
  --blue: hsl(246, 80%, 60%);
  --lightorange: hsl(15, 100%, 70%);
  --softblue: hsl(195, 74%, 62%);
  --lightred: hsl(348, 100%, 68%);
  --limegree: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --softorange: hsl(43, 84%, 65%);
  --verydarkblue: hsl(226, 43%, 10%);
  --darkblue: hsl(235, 46%, 20%);
  --desaturatedblue: hsl(235, 45%, 61%);
  --paleblue: hsl(236, 100%, 87%);
  --white: #fff;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--verydarkblue);
}

.primary-heading {
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 120rem;
  gap: 3rem;
}
.grid__blocks {
  height: 25.5rem;
}
.grid__work__bg, .grid__play__bg, .grid__study__bg, .grid__exercise__bg, .grid__social__bg, .grid__care__bg {
  position: relative;
  height: 7rem;
  border-radius: 10px;
  z-index: -1;
}
.grid__work__bg img, .grid__play__bg img, .grid__study__bg img, .grid__exercise__bg img, .grid__social__bg img, .grid__care__bg img {
  position: absolute;
  right: 0;
  z-index: -1;
}
.grid__work__bg {
  background-color: var(--lightorange);
}
.grid__play__bg {
  background-color: var(--softblue);
}
.grid__study__bg {
  background-color: var(--lightred);
}
.grid__exercise__bg {
  background-color: var(--limegree);
}
.grid__social__bg {
  background-color: var(--violet);
}
.grid__care__bg {
  background-color: var(--softorange);
}
.grid__report {
  grid-row: 1/-1;
  border-radius: 10px;
}
.grid__report__link:link, .grid__report__link:visited {
  color: var(--desaturatedblue);
  text-decoration: none;
}
.grid__report__link:hover, .grid__report__link:active {
  color: var(--white);
}
.grid__links {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: -1rem;
  background-color: var(--darkblue);
  border-radius: 10px;
}

.author {
  position: relative;
  padding: 3rem 3rem 11rem 3rem;
  background-color: var(--blue);
  border-radius: 10px;
  z-index: 999;
}
.author__img {
  width: 4em;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--white);
  border-radius: 100%;
  margin-bottom: 4rem;
}
.author__description {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--paleblue);
  margin-bottom: 1rem;
}
.author__name {
  font-size: 4rem;
  font-weight: 300;
  color: var(--white);
  line-height: 1.2;
}

.statistics {
  color: var(--white);
  padding: 3rem;
  background-color: var(--darkblue);
  border-radius: 10px;
  z-index: 1;
  transition: all 0.3s;
  margin-top: -2rem;
}
.statistics__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.statistics__time {
  margin-top: auto;
}
.statistics__day {
  color: var(--paleblue);
  font-weight: 300;
}
.statistics__ellipsis:hover {
  filter: brightness(0) invert(1);
  cursor: pointer;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 55%;
  }
  .grid {
    gap: 2.5rem;
    max-width: 90%;
  }
  .author {
    padding: 3rem 3rem 10.5rem 3rem;
  }
}
@media only screen and (max-width: 55em) {
  html {
    font-size: 50%;
  }
  .statistics {
    padding: 2rem;
  }
  .author {
    padding: 2rem 2rem 9rem 2rem;
  }
}
@media only screen and (max-width: 45em) {
  .primary-heading {
    font-size: 5rem;
  }
  .statistics__day {
    font-size: 1.5rem;
  }
  .author {
    padding: 2rem 2rem 8rem 2rem;
  }
}
@media only screen and (max-width: 41em) {
  body {
    height: auto;
    margin-top: 5rem;
  }
  .grid {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    flex-basis: 80%;
  }
  .grid__links {
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.1rem;
  }
  .grid__report {
    margin-bottom: 5rem;
  }
  .grid__blocks {
    height: 24rem;
  }
  .author {
    display: flex;
    gap: 2rem;
    padding: 3rem;
  }
  .author__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    font-size: 3rem;
  }
  .author__img {
    margin: 0;
  }
  .author__description {
    margin: 0;
  }
  .statistics__time {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .statistics__day {
    font-size: 1.8rem;
  }
  .statistics__header {
    margin-bottom: 2rem;
  }
}